{% extends 'base.html' %} {% block content %}
<div class="container py-4">
  <div class="card w-50 mx-auto">
    <div class="card-body">
      {% if message %}
      <div class="alert alert-success mw-50" role="alert">{{message}}</div>
      {% endif %} {% if error %}
      <div class="alert alert-danger mw-50" role="alert">{{error}}</div>
      {% endif %}
      <a
        class="rounded border border-primary px-3 py-2 mt-4"
        href="{{ url_for('main.index') }}"
        >Go to main page</a
      >
    </div>
  </div>
</div>
{% endblock %}
