{% extends 'base.html' %} {% block content %}
<div class="pb-100px">
  <div class="container py-4">
    <h3 class="text-center">Settings</h3>
    <div class="d-flex justify-content-center">
      <div class="settings-form p2 w-75">
        <div class="settings-tabs d-flex justify-content-around">
          <div class="btn btn-outline-primary rounded settings-sheet">Settings for Sheets</div>
          <div class="btn btn-outline-primary rounded settings-sqr">Settings for SQRs</div>
        </div>
        <div class="card-body">
          <form
            class="form"
            role="form"
            action="{{ url_for('settings.settings') }}"
            method="post"
          >
            {{form.hidden_tag()}}
            <div class="mb-3">
              <label for="metric_system" class="form-label"
                >{{form.metric_system.label}}</label
              >
              <select class="form-control" id="metric_system" name="metric_system" required="">
                {% for choices in form.metric_system.choices %}
                  <option
                    value="{{ choices[0] }}"
                    {% if current_user.metric_system.value == choices[0] %}selected{% endif %}
                  >
                    {{ choices[0].title() }}
                  </option>
                {% endfor %}
              </select>

              {% for error in form.errors.metric_system %}
                <small class="text-danger">{{error}}</small>
              {% endfor %}
            </div>

            <div class="mb-3 print-price-block">
              <label for="print_price" class="form-label"
                >{{form.print_price.label}}</label
              >
              <input
                class="form-control"
                id="print_price"
                name="print_price"
                placeholder="0.0"
                onfocusout="validateInput(this)"
                value={{ current_user.print_price }}
              >
              {% for error in
              form.errors.print_price %}
              <small class="text-danger">{{error}}</small> {% endfor %}
            </div>

            <div class="mb-3">
              <label for="currency" class="form-label"
                >{{form.currency.label}}</label
              >
              <select class="form-control" id="currency" name="currency" required="">
                {% for choices in form.currency.choices %}
                  <option
                    value="{{ choices[0] }}"
                    {% if current_user.currency.value == choices[0] %}selected{% endif %}
                  >
                    {{ choices[0].title() }}
                  </option>
                {% endfor %}
              </select>

              {% for error in form.errors.currency %}
                <small class="text-danger">{{error}}</small>
              {% endfor %}
            </div>

            <div class="mb-3">
              <label for="is_price_per" class="form-label"
                >{{form.is_price_per.label}}</label
              >
              <select
                class="form-control"
                id="is_price_per"
                name="is_price_per"
                required=""
              >
                {% for choices in form.is_price_per.choices %}
                <option
                    value="{{ choices[0] }}"
                    {% if current_user.is_price_per_sheet and "Sheet" in choices  %}
                      selected
                    {% elif not current_user.is_price_per_sheet and "Sheet" not in choices %}
                      selected
                    {% endif %}
                >
                  {{ choices[0].title() }}
                </option>
                {% endfor %}
              </select>

              {% for error in form.errors.is_price_per %}
              <small class="text-danger">{{error}}</small> {% endfor %}
            </div>

            <div class="mb-3 moq-sqr-block">
              <label for="moq" class="form-label">{{form.moq.label}}</label>
              {{form.moq(class="form-control", id="moq", value=current_user.moq, type="number")}}
              {% for error in form.errors.moq %}
              <small class="text-danger">{{error}}</small> {% endfor %}
            </div>

            <div class="mb-3">
              <label for="cut_spacing" class="form-label"
                >{{form.cut_spacing.label}}</label
              >
              <input
                class="form-control"
                id="cut_spacing"
                name="cut_spacing"
                placeholder="0.0"
                onfocusout="validateInput(this)"
                value={{ current_user.cut_spacing }}
              >
              {% for error in
              form.errors.cut_spacing %}
              <small class="text-danger">{{error}}</small> {% endfor %}
            </div>

            <div class="mb-3">
              <label  class="form-label">Sheets Sizes</label>
              <div class="d-flex justify-content-center ">
                <div class="sheet-sizes p2 w-100">
                  <div class="create-sheet-size mb-3">
                    <div class="d-flex add-sheet-form">
                      <div class="input-group add-sheet-input-group w-50 сontinuous-sheet-row-block">
                        <span class="input-group-text" id="basic-addon3">Continuous sheet/row</span>
                        <div class="form-check form-switch d-flex align-items-center pl-50px border border-1 border-start-0 m-0">
                          <input class="form-check-input border-90 use-in-row-input" type="checkbox" value="y">
                        </div>
                      </div>

                      <div class="input-group add-sheet-input-group w-50 sheet-price-block">
                        <span class="input-group-text" id="basic-addon3">Price</span>
                        <input class="form-control sheet-price add-sheet-input mr-20px" placeholder="Price" type="number" step="any">
                      </div>

                      <div class="input-group add-sheet-input-group w-33 sheet-moq-block">
                        <span class="input-group-text" id="basic-addon3">MOQ</span>
                        <input class="form-control sheet-moq add-sheet-input mr-20px" placeholder="MOQ" type="number" step="any">
                      </div>

                      <div class="d-flex sheet-size-inputs-block">
                        <input class="form-control sheet-size-width" placeholder="Width" type="number" step="any">
                        <span class="input-group-text">x</span>
                        <input class="form-control sheet-size-height" placeholder="Height" type="number" step="any">
                      </div>

                      <div class="btn rounded btn btn-success add-sheet-size ml-10px">Add</div>
                    </div>
                  </div>
                  <div class="added-sheet-sizes">
                    {% for added_sheet in current_user.sheets %}
                      <div class="d-flex justify-content-between mb-2" id="{{ added_sheet.id }}">
                        <div class="input-group add-sheet-input-group w-50 сontinuous-sheet-row-block">
                          <span class="input-group-text" id="basic-addon3">Continuous sheet/row</span>
                          <div class="form-check form-switch d-flex align-items-center pl-50px border border-1 border-start-0 m-0 bg-color-disabled">
                            <input
                              class="form-check-input border-90 use-in-row-input"
                              type="checkbox"
                              {% if added_sheet.use_in_row %}
                                checked
                              {% endif %}
                              disabled
                            >
                          </div>
                        </div>


                        <div class="input-group add-sheet-input-group w-50 sheet-price-block">
                          <span class="input-group-text" id="basic-addon3">Price</span>
                          <input
                            class="form-control added-sheet-price mr-10px"
                            placeholder="Price"
                            type="number"
                            disabled
                            value={{ added_sheet.price }}
                          >
                        </div>

                        <div class="input-group add-sheet-input-group w-33 sheet-moq-block">
                          <span class="input-group-text" id="basic-addon3">MOQ</span>
                          <input
                            class="form-control added-sheet-moq mr-10px"
                            placeholder="MOQ"
                            type="number"
                            disabled
                            value={{ added_sheet.moq }}
                          >
                        </div>

                        <div class="d-flex sheet-size-inputs-block">
                          <input
                            class="form-control added-sheet-size-width"
                            placeholder="Width"
                            type="number"
                            disabled
                            value={{ added_sheet.width }}
                          >
                          <span class="input-group-text">x</span>
                          <input
                              class="form-control added-sheet-size-height"
                              placeholder="Height"
                              type="number"
                              disabled
                              value={{ added_sheet.height }}
                          >
                        </div>

                        <div class="btn rounded btn btn-danger delete-sheet-size ml-10px">Delete</div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 form-check form-switch">
              {{form.is_enabled_buy_btn(class="form-check-input border-90",
              id="is_enabled_buy_btn", checked=current_user.is_enabled_buy_btn)}}
              <label for="is_enabled_buy_btn" class="form-check-label"
                >{{form.is_enabled_buy_btn.label}}</label
              >
              {% for error in form.errors.is_enabled_buy_btn %}
              <small class="text-danger">{{error}}</small> {% endfor %}
            </div>

            <div class="mb-3">
              <label for="buy_url" class="form-label">{{form.buy_url.label}}</label>
              {{form.buy_url(class="form-control", id="buy_url",
              value=current_user.buy_url if current_user.buy_url else "")}} {% for
              error in form.errors.buy_url %}
              <small class="text-danger">{{error}}</small> {% endfor %}
            </div>

            {{ form.submit(class="form-control btn btn-success rounded" ) }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}

<script
  src="{{ url_for('static', filename='js/settings/sheet_sizes.js') }}"
  type="text/javascript"
></script>

<script
  src="{{ url_for('static', filename='js/settings/tabs.js') }}"
  type="text/javascript"
></script>

{% endblock %}