/* custom css */
* {
  border-radius: 0 !important;
}

*:focus {
  outline: none;
  outline: none;
  box-shadow: none !important;
}

a {
  text-decoration: none;
}

.close {
  padding: 5px 6px 7px 5px !important;
}

.border-90 {
  border-radius: 90px !important;
}

.w-10 {
  width: 10%;
}

.w-17 {
  width: 17%;
}

.w-33 {
  width: 33% !important;
}

.w-90 {
  width: 90%;
}

.h-42px {
  height: 42px;
}

.flex-1 {
  flex: 1;
}

.mb-2px {
  margin-bottom: 2px;
}

.pb-100pxpx {
  padding-bottom: 100px;
}

.pl-15px {
  padding-left: 15px;
}

.pl-50px {
  padding-left: 50px;
}

.ml-10px {
  margin-left: 10px;
}

.mr-20px {
  margin-right: 20px;
}

.mr-10px {
  margin-right: 10px;
}

.mr-5px {
  margin-right: 5px;
}

.bg-color-disabled {
  background-color: #e9ecef;
}

.text-justify {
  text-align: justify;
}

.hit_flash {
  margin: 0;
  padding: 15px 0 0 0 !important;
  color: white;
  font-weight: 500;
}

.hit_flash button {
  height: 20px;
  width: 20px;
  background: transparent;
  color: white;
  font-weight: 500;
  border: 2px solid white;
  border-radius: 3px !important;
}

.hit_flash button:hover {
  background-color: lightgray;
}

.hit_flash button:active {
  background-color: white;
}

.alert-info {
  background: #66d9ff !important;
}

.alert-danger {
  background: #ea3333 !important;
}

.alert-success {
  background: #20ce10 !important;
}

.invisible {
  display: none !important;
}

.text-content p,
li {
  font-size: 14px;
  color: rgba(54, 49, 49, 0.764);
}

.form-group label {
  margin-bottom: 5px;
  font-weight: 500;
}

.navbar-brand {
  font-size: 30px;
  flex: 1;
  padding-left: 40%;
}
.navbar-brand-without-img {
  color: #000;
  font-size: 30px;
  flex: 1;
  padding-left: 45%;
}

.logo-img {
  max-width: 200px;
  max-height: 200px;
}

.navbar {
  padding: 0px;
}

.bg-none {
  background: none;
}

.fw-600 {
  font-weight: 600 !important;
}

.left-border {
  border-left: #00000025 2px solid;
}

.left-border-black {
  border-left: black 2px solid;
}

.left-border-0 {
  border-left: none;
}

/* calculator */
.calculator-content {
  flex-direction: row;
  /* padding: 10px 15px 0 !important; */
}

.calculator-l-side {
  width: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-left: 15px; */
}
.calculator-r-side {
  width: 75%;
}

.calculator-block-title {
  border-bottom: #00000025 2px solid;
  margin-bottom: 0;
}

.on-hover-border:hover {
  outline: grey 1px solid;
}

.added-bins th,
.added-rects th {
  padding: 0;
  text-align: center;
  border-style: none;
}

/* set the unit abbreviation for each unit class */
.cm::after {
  content: "cm";
  display: flex;
  align-items: center;
  height: 100%;
}
.in::after {
  content: "in";
  display: flex;
  align-items: center;
  height: 100%;
}
.pcs::after {
  content: "pcs";
  display: flex;
  align-items: center;
  height: 100%;
}
/*  */

.result-img-data {
  width: 70%;
  background: #e7e7e7;
  overflow-y: auto;
  padding-bottom: 100px;
}
.result-text-data {
  width: 30%;
}

.img-sizes {
  width: 100%;
  /* max-width: 100%; */
  /* max-height: 700px; */
}

.wrong-price-text {
  font-size: 10px;
}

.add-sheet-input {
  width: 25%;
}

.hide-sheet-price-blocks > * .sheet-price-block {
  display: none;
}

.hide-sheet-price-blocks > * .sheet-moq-block {
  display: none;
}

.hide-sheet-price-blocks > * .сontinuous-sheet-row-block {
  width: 33% !important;
}

.hide-sheet-price-blocks > * .add-sheet-form {
  justify-content: space-between;
}

.hide-sheet-price-blocks > * .sheet-size-inputs-block {
  width: 75% !important;
}

.setting-tab-btn:hover {
  background: lightgray;
}

.selected-tab-btn {
  background: lightgray;
}
.footer {
  background-color: rgba(0, 0, 0, 0.2);
}
.footer-link {
  letter-spacing: 2px;
  color: #000;
}
.footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.main-content {
  min-height: 100vh;
}

@media screen and (max-width: 450px) {
  .navbar-content {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .logo-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .navbar-brand {
    padding-left: 0;
    text-align: left !important;
    margin-right: 0;
  }
  .navbar-brand-without-img {
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  #navbar {
    display: flex;
    justify-content: space-between;
  }
  .card-form {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    margin-left: 10px;
  }
  .calculator-l-side {
    width: 100% !important;
  }
  .calculator-r-side {
    width: 100% !important;
  }

  .hide-sheet-price-blocks > * .сontinuous-sheet-row-block {
    width: 100% !important;
  }

  .hide-sheet-price-blocks > * .sheet-size-inputs-block {
    width: 100% !important;
  }
}

@media screen and (max-width: 950px) {
  #navbar {
    margin-left: 10px;
  }
  .calculator-content {
    flex-direction: column;
    align-items: center;
  }
  .calculator-l-side {
    width: 75%;
    margin-left: 0;
  }
  .calculator-r-side {
    width: 75%;
    margin-top: 40px;
  }
  .calculator-content .left-border {
    border-left: none;
  }
  .calculator-results {
    flex-direction: column-reverse;
    align-items: center;
  }

  .result-img-data,
  .result-text-data {
    width: 100%;
  }
  .navbar-brand {
    padding-left: 0;
    text-align: center;
    margin-right: 0;
  }
}

@media screen and (max-width: 1400px) {
  .settings-form {
    width: 100% !important;
  }

  .add-sheet-form,
  .sheet-price {
    flex-direction: column;
  }

  .add-sheet-input {
    width: 100%;
    margin-right: 0px;
  }

  .add-sheet-size,
  .delete-sheet-size {
    margin-left: 0;
  }

  .add-sheet-size:after {
    content: " Sheet";
  }

  .add-sheet-form > * {
    margin-bottom: 5px;
  }

  .added-sheet-sizes > * {
    flex-direction: column;
  }
  .added-sheet-sizes > * > div > * {
    margin-right: 0;
  }

  .add-sheet-input-group {
    width: 100% !important;
  }
}
