{% extends 'base.html' %} {% block content %}
<div class="pb-100px h-100">
  <div class="container py-4">
    <div class="d-flex justify-content-center">
      <div class="feedback-form p2 w-75">
        <div class="card-body text-content">
          <h3 class="text-lext mb-4">Privacy Policy</h3>
          <span>
            <h4>Introduction</h4>
            <p class="text-justify">
              DTF Cost Calc (“we” or “us” or “our”) respects the privacy of our
              users ("user or "you"”). This Privacy Policy explains how we
              collect, use, disclose, and safeguard your information when you
              visit our website dtfcostcalc.com, including any other media form,
              media channel, mobile website, or mobile application related or
              connected thereto (collectively, the “Site”). Please read this
              privacy policy carefully. If you do not agree with the terms of
              this privacy policy, please do not access the site.
            </p>
            <p class="text-justify">
              We reserve the right to make changes to this Privacy Policy at any
              time and for any reason. We will alert you about any changes by
              updating the “Last Updated” date of this Privacy Policy. Any
              changes or modifications will be effective immediately upon
              posting the updated Privacy Policy on the Site, and you waive the
              right to receive specific notice of each such change or
              modification.
            </p>
            <p class="text-justify">
              You are encouraged to periodically review this Privacy Policy to
              stay informed of updates. You will be deemed to have been made
              aware of, will be subject to, and will be deemed to have accepted
              the changes in any revised Privacy Policy by your continued use of
              the Site after the date such revised Privacy Policy is posted.
            </p>
          </span>

          <span>
            <h4>Collection of Your Information</h4>
            <p class="text-justify">
              We may collect information about you in a variety of ways. The
              information we may collect on the Site includes:
            </p>

            <h6>Personal Data</h6>
            <p class="text-justify">
              Personally identifiable information, such as your name, billing
              address and email address, that you voluntarily give to us when
              you register with the Site You are under no obligation to provide
              us with personal information of any kind, however your refusal to
              do so may prevent you from using certain features of the Site.
            </p>

            <h6>Derivative Data</h6>
            <p class="text-justify">
              Information our servers automatically collect when you access the
              Site, such as your IP address, your browser type, your operating
              system, your access times, and the pages you have viewed directly
              before and after accessing the Site.
            </p>

            <h6>Financial Data</h6>
            <p class="text-justify">
              We DO NOT STORE any financial information, such as data related to
              your payment method (e.g. valid credit card number, card brand,
              expiration date). All financial information is stored by our
              payment processors, which are
              <a href="https://stripe.com/privacy" target="_blank">Stripe</a>
              and
              <a
                href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full"
                target="_blank"
                >PayPal</a
              >
              and you are encouraged to review their privacy policy and contact
              them directly for responses to your questions.
            </p>
          </span>

          <span>
            <h4>Use of Your Information</h4>
            <p class="text-justify">
              Having accurate information about you permits us to provide you
              with a smooth, efficient, and customized experience. Specifically,
              we may use information collected about you via the Site to:
            </p>

            <h6>Personal Data</h6>
            <p class="text-justify">
              Personally identifiable information, such as your name, billing
              address and email address, that you voluntarily give to us when
              you register with the Site You are under no obligation to provide
              us with personal information of any kind, however your refusal to
              do so may prevent you from using certain features of the Site.
            </p>

            <ul>
              <li>Create and manage your account.</li>
              <li>Email you regarding your account or order.</li>
              <li>
                Fulfill and manage purchases, orders, payments, and other
                transactions related to the Site.
              </li>
              <li>
                Generate a personal profile about you to make future visits to
                the Site more personalized.
              </li>
              <li>Increase the efficiency and operation of the Site.</li>
              <li>
                Monitor and analyze usage and trends to improve your experience
                with the Site.
              </li>
              <li>Notify you of updates to the Site.</li>
              <li>Offer new services and/or recommendations to you.</li>
              <li>Perform other business activities as needed.</li>
              <li>
                Prevent fraudulent transactions, monitor against theft, and
                protect against criminal activity.
              </li>
              <li>Process payments and refunds.</li>
              <li>
                Request feedback and contact you about your use of the Site.
              </li>
              <li>Resolve disputes and troubleshoot problems.</li>
              <li>Respond to customer service requests.</li>
              <li>Send you a newsletter.</li>
              <li>
                Compile anonymous statistical data and analysis for use
                internally or with third parties.
              </li>
            </ul>
          </span>

          <span>
            <h4>Disclosure of Your Information</h4>
            <p class="text-justify">
              We may share information we have collected about you in certain
              situations. Your information may be disclosed as follows:
            </p>

            <h6>By Law or To Protect Rights</h6>
            <p class="text-justify">
              If we believe the release of information about you is necessary to
              respond to legal process, to investigate or remedy potential
              violations of our policies, or to protect the rights, property,
              and safety of others, we may share your information as permitted
              or required by any applicable law, rule, or regulation. This
              includes exchanging information with other entities for fraud
              protection and credit risk reduction.
            </p>

            <h6>Third-Party Service Providers</h6>
            <p class="text-justify">
              We may share your information with third parties that perform
              services for us or on our behalf, including payment processing,
              data analysis, email delivery, hosting services, customer service,
              and marketing assistance.
            </p>
          </span>

          <span>
            <h4>Tracking Technologies</h4>

            <h6>Cookies</h6>
            <p class="text-justify">
              We may use cookies and other tracking technologies on the Site to
              help customize the Site and improve your experience. When you
              access the Site, your personal information is not collected
              through the use of tracking technology. Most browsers are set to
              accept cookies by default. You can remove or reject cookies, but
              be aware that such action could affect the availability and
              functionality of the Site.
            </p>

            <h6>Website Analytics</h6>
            <p class="text-justify">
              We may also partner with selected third-party vendors such as
              <a
                href="https://www.cloudflare.com/privacypolicy/"
                target="_blank"
                >Cloudfare</a
              >,
              <a
                href="https://support.google.com/analytics/answer/6004245?hl=en"
                target="_blank"
                >Google Analytics</a
              >
              , to allow tracking technologies services on the Site through the
              use of first party cookies and third-party cookies, to, among
              other things, analyze and track users’ use of the Site, determine
              the popularity of certain content and better understand online
              activity. By accessing the Site, you consent to the collection and
              use of your information by these third-party vendors. You are
              encouraged to review their privacy policy and contact them
              directly for responses to your questions. We do not transfer
              personal information to these third-party vendors.
            </p>
            <p class="text-justify">
              You should be aware that getting a new computer, installing a new
              browser, upgrading an existing browser, or erasing or otherwise
              altering your browser’s cookies files may also clear certain
              opt-out cookies, plug-ins, or settings.
            </p>
          </span>

          <span>
            <h4>Security of Your Information</h4>
            <p class="text-justify">
              The personal information we collect is stored and processed in
              Germany and Slovakia. We use administrative, technical, and
              physical security measures to help protect your personal
              information. While we have taken reasonable steps to secure the
              personal information you provide to us, please be aware that
              despite our efforts, no security measures are perfect or
              impenetrable, and no method of data transmission can be guaranteed
              against any interception or other type of misuse. Any information
              disclosed online is vulnerable to interception and misuse by
              unauthorized parties. Therefore, we cannot guarantee complete
              security if you provide personal information.
            </p>
          </span>

          <span>
            <h4>Policy for Children</h4>
            <p class="text-justify">
              We do not knowingly solicit information from or market to children
              under the age of 13. If you become aware of any data we have
              collected from children under age 13, please contact us using the
              contact information provided below.
            </p>
          </span>

          <span>
            <h4>Options Regarding Your Information</h4>

            <h6>Website Analytics</h6>
            <p class="text-justify">
              You may at any time review or change the information in your
              account or terminate your account by:
            </p>
            <ul>
              <li>
                Logging into your account settings and updating your account.
              </li>
              <li>
                Contacting us using the contact information provided below.
              </li>
            </ul>
            <p class="text-justify">
              Upon your request to terminate your account, we will deactivate or
              delete your account and information from our active databases.
              However, some information may be retained in our files to prevent
              fraud, troubleshoot problems, assist with any investigations,
              enforce our Terms of Use and/or comply with legal requirements.
            </p>

            <h6>Emails and Communication</h6>
            <p class="text-justify">
              If you no longer wish to receive correspondence, emails, or other
              communications from us, you may opt-out by:
            </p>
            <ul>
              <li>
                Logging into your account settings and updating your
                preferences.
              </li>
              <li>
                Contacting us using the contact information provided below.
              </li>
            </ul>
          </span>

          <span>
            <h4>Contact Us</h4>
            <p class="text-justify">
              If you have questions or comments about this Privacy Policy,
              please <a href="/feedback/">contact us at contact page</a>.
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
