{% extends 'base.html' %} {% block content %}
<div class="calculator-content d-flex h-100 mt-3">
  <div class="calculator-l-side h-100">
    <div class="bin-settings">
      <h5 class="calculator-block-title text-center p-1">Stock sheets</h5>
      <div class="bin-sizes d-flex border-bottom">
        <select class="form-select border-0" id="bin-size-select">
          {% for default_size in config.DEFAULT_BIN_SIZES %}
          <option value="{{default_size.width}}x{{default_size.height}}">
            {{default_size.name}} ({{default_size.width /
            10}}x{{default_size.height / 10}} cm)
          </option>
          {% endfor %}
          <option value="x">Custom size</option>
        </select>
        <div class="btn rounded btn btn-light" id="bin-add-btn">Add</div>
      </div>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="fw-normal p-1">Width</th>
              <th scope="col" class="fw-normal p-1">Height</th>
              <th scope="col" class="fw-normal p-1">Qty</th>
              <th scope="col" class="fw-normal p-1"></th>
            </tr>
          </thead>
          <tbody class="added-bins border-top-0"></tbody>
        </table>
      </div>
    </div>
    <div class="rects-settings mt-4">
      <h5 class="calculator-block-title text-center p-1 mb-1">Items</h5>
      <div class="rect-sizes d-flex border-bottom">
        <input
          class="form-control rect-width"
          placeholder="Width"
          type="number"
        />
        <span class="input-group-text">x</span>
        <input
          class="form-control rect-height"
          placeholder="Height"
          type="number"
        />
        <div class="btn rounded btn btn-light" id="rect-add-btn">Add</div>
      </div>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="fw-normal p-1">Width</th>
              <th scope="col" class="fw-normal p-1">Height</th>
              <th scope="col" class="fw-normal p-1">Qty</th>
              <th scope="col" class="fw-normal p-1"></th>
            </tr>
          </thead>
          <tbody class="added-rects border-top-0"></tbody>
        </table>
      </div>
    </div>
    <div class="general-settings mt-4">
      <h5 class="calculator-block-title text-center p-1">Settings</h5>
      <div class="mt-1">
        <div class="d-flex mb-1">
          <span class="input-group-text">Blade size</span>
          <input
            class="form-control blade-size"
            placeholder="Blade size"
            value="0"
            type="number"
            onfocusout="validateInput(this)"
          />
        </div>
        <div class="d-flex mb-1">
          <span class="input-group-text">Price per square</span>
          <input
            class="form-control print-price"
            placeholder="Print price"
            value="0"
            type="number"
            onfocusout="validateInput(this)"
          />
        </div>
        <div class="d-flex">
          <span class="input-group-text">Unit of measurement</span>
          <select class="form-select metic-system">
            <option value="10" selected>Centimeter</option>
            <option value="25.4">Inch</option>
          </select>
        </div>
      </div>
    </div>
    <div class="actions mt-4">
      <h5 class="calculator-block-title text-center p-1">Actions</h5>
      <div class="mt-1 d-flex flex-column">
        <div
          class="btn border rounded btn btn-outline-success calculate-btn mb-1"
        >
          Calculate
        </div>
        <div class="btn border rounded btn btn-outline-danger clean-all-btn">
          Clean All
        </div>
      </div>
    </div>
  </div>
  <div class="calculator-r-side">
    <div class="calculator-results d-flex h-100">
      <div class="result-img-data h-100">
        <h5 class="calculator-block-title text-center p-1 mb-1">Image</h5>
        <div class="mt-3 d-flex flex-column align-items-center">
          <h5 class="mb-0">Bin 123x232</h5>
          <img class="w-75 border border-2 rounded" src="{{ url_for("static",
          filename="img/calculator_result_example.jpeg") }}"
          alt="calculator-result-img">
        </div>
      </div>
      <div class="result-text-data h-100">
        <h5 class="calculator-block-title text-center p-1 mb-1">
          Total sesults
        </h5>
        <div class="mt-1">
          <div class="d-flex mb-1">
            <span class="input-group-text">Used sheets</span>
            <input
              class="form-control res-used-sheets"
              placeholder="Used sheets"
              value="0"
              type="number"
              disabled
            />
          </div>
          <div class="d-flex mb-1">
            <span class="input-group-text">Used area</span>
            <input
              class="form-control res-used-area"
              placeholder="Used area"
              value="0"
              type="number"
              disabled
            />
          </div>
          <div class="d-flex mb-1">
            <span class="input-group-text">Wasted area</span>
            <input
              class="form-control res-wasted-area"
              placeholder="Wasted area"
              value="0"
              type="number"
              disabled
            />
          </div>
          <div class="d-flex mb-1">
            <span class="input-group-text">Placed items</span>
            <input
              class="form-control res-placed-item"
              placeholder="Placed items"
              value="0"
              type="number"
              disabled
            />
          </div>
          <div class="d-flex mb-1">
            <span class="input-group-text">Print price</span>
            <input
              class="form-control res-print-price"
              placeholder="Print price"
              value="0"
              type="number"
              disabled
            />
          </div>
        </div>
        <div class="mt-3">
          <h5 class="calculator-block-title text-center p-1 mb-1">Bins</h5>
          <div class="bins-results ml-1">
            <div class="bin-result pl-15px">
              <h6 class="calculator-block-title p-1 mb-1">Bin 123x232</h6>
              <div class="mt-1">
                <div class="d-flex mb-1">
                  <span class="input-group-text">Used sheets</span>
                  <input
                    class="form-control res-used-sheets"
                    placeholder="Used sheets"
                    value="0"
                    type="number"
                    disabled
                  />
                </div>
                <div class="d-flex mb-1">
                  <span class="input-group-text">Used area</span>
                  <input
                    class="form-control res-used-area"
                    placeholder="Used area"
                    value="0"
                    type="number"
                    disabled
                  />
                </div>
                <div class="d-flex mb-1">
                  <span class="input-group-text">Wasted area</span>
                  <input
                    class="form-control res-wasted-area"
                    placeholder="Wasted area"
                    value="0"
                    type="number"
                    disabled
                  />
                </div>
                <div class="d-flex mb-1">
                  <span class="input-group-text">Placed items</span>
                  <input
                    class="form-control res-placed-item"
                    placeholder="Placed items"
                    value="0"
                    type="number"
                    disabled
                  />
                </div>
                <div class="d-flex mb-1">
                  <span class="input-group-text">Print price</span>
                  <input
                    class="form-control res-print-price"
                    placeholder="Print price"
                    value="0"
                    type="number"
                    disabled
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}

<script
  src="{{ url_for('static', filename='js/calculator/bins_settings.js') }}"
  type="text/javascript"
></script>

<script
  src="{{ url_for('static', filename='js/calculator/rects_settings.js') }}"
  type="text/javascript"
></script>

<script
  src="{{ url_for('static', filename='js/calculator/actions.js') }}"
  type="text/javascript"
></script>

{% endblock %}
